*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1rem;
    color: black;
}
p{
    margin: 0;
}

/*header start*/
    .page__header{
        position : fixed;
        width: 100%;
        background-color: white;
    }
    .header__title-container{
        text-decoration: none;
        color: black;
    }
    .header__title{
        font-family: "Satisfy";
        font-weight: 400;
        font-size: 1.5rem;
        text-align: center;
        border-bottom: 1px solid #DFDFDF;
        margin: 0;
        padding: 0.5rem;
    }

/*header end*/

/*Main Start*/
    .page__main{
        padding: 50px 0;
    }
    .main__image{
        width: 100%;
    }

    /*main-section Start*/
    /*USER start*/
    .main-section__user-container{
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
    }
    .user__user-image--gradient{
        display: inline-block;
        background: linear-gradient(to right,#742BAD, 
        #AF1BC7, #D71188, #0F0BE0);
        border-radius: 9999px;
        padding: 2px;
        
    }
    .user-image{
        display: block;
        width: 30px;        
    }
    .user-name__container{
        display: flex;
        padding: 0 0.5rem;
    }
    .user-name{
        font-weight: 700;
    }
    .user-tag{
        padding: 0 0.5rem;
    }
    /*USER end*/

    /*STAT start*/
    .main-section__stat-container{
        display: flex;
        justify-content: space-between;
        padding : 0.5rem 1rem;
    }
    .stat__likes{
        font-weight: 700;
    }
    .stat__date{
        color: #C5C5C5;
    }
    /*STAT end*/

    /*Description start*/
    .main-section__description{
        padding: 0.5rem 1rem;
    }
    /*Description end*/
    /*main-section End*/

    /*form start*/
    .main__input-comment{
        display: flex;
        align-items: center;
        padding: 1rem 0;
        margin: 0 1rem;
        border-top: 1px solid #D1D1D1;
        border-bottom: 1px solid #D1D1D1;
    }
    .main__input-comment--hidden{
        display: none;
    }
    .input__icon{
        margin-right: 0.5rem;
        border: none;
        color:#D1D1D1;
    }
    .input__comment-area{
        border: none;
        color:#D1D1D1;
        width: 100%;
    }
    /*form end*/

    /*Comment section start*/
    .main__comment-section{
        padding: 0.5rem 1rem;

    }
    .comment-section__comment{
    padding: 0.5rem 0;
    }
    .user-name--position{
       float: left;
       margin-right: 0.5rem;
    }
    /*Comment section end*/
/*Main End*/

/*footer start*/
.main__footer{
    background-color: white;
    position: fixed;
    bottom:0;
    left: 0;
    width: 100%;
}
.footer__nav{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
}
.nav__link{
    position: relative;
    padding: 0.2rem;
    transition: transform 150ms ease-in-out;
}
.nav__link:hover{

    transform: scale(1.2, 1.2);
}

.heart::after{
    content: "";
    width: 6px;
    height: 6px;
    background-color: #FF4242;
    border-radius: 9999px;
    position: absolute;
    top:-2px;
    right:-2px;
    animation-name: grow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes grow{
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.5, 1.5);
    }
    100%{
        transform: scale(1,1);
    }
}
/*footer end*/

/*media queries start*/
@media (min-width: 774px){
/*header start*/
/*header end*/
.page__main{
    display: flex;
    justify-content: space-around;
    padding : calc(50px + 1.5rem)  0;
    width: 774px;
    margin: 0 auto;
}
/*Main Start*/
    /*main-section Start*/
    .main__responsive-container{
        width: 272px;
        height: 621px;
        display: flex;
        flex-direction: column;
        border: 1px solid #D1D1D1;
    }
    picture{
        width: 502px;
        height: 621px;
    }
    .main-section__user-container{
        background: #F0F0F0;
    }
    /*main-section End*/

    /*form start*/
    .main__input-comment{
        display:none;
    }
    .main__input-comment--hidden{
        display: flex;
        justify-self: flex-end;
        padding: 0.7rem 1rem;
        margin: 0;
        border-bottom: none;

    }
    /*form end*/

    /*comment section start*/
    .main__comment-section{
        flex-grow: 1;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-left: 0;
        padding-right: 0;
        border-top: 1px solid #D1D1D1;
        overflow-y: scroll;
    }
    .main__comment-section::-webkit-scrollbar {
        width: 2px;
      }
      .main__comment-section::-webkit-scrollbar-track {
        background: white;
      }
      .main__comment-section::-webkit-scrollbar-thumb {
        background-color: #D1D1D1;
        border-radius: 20px;
      }
    /*comment section end*/
/*Main End*/

/*footer start*/
.footer__nav{
    width: 50%;
}
/*footer end*/
}

/*media queries end*/