*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1rem;
    color: black;
}
p{
    margin: 0;
}

/*header start*/
    .page__header{
        position : fixed;
        width: 100%;
    }
    .header__title{
        font-family: "Satisfy";
        font-weight: 400;
        font-size: 1.5rem;
        text-align: center;
        border-bottom: 1px solid #DFDFDF;
        margin: 0;
        padding: 0.5rem;
    }

/*header end*/

/*Main Start*/
    .page__main{
        padding-top: 50px;
    }

    /*main-section Start*/
    /*USER start*/
    .main-section__user-container{
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
    }
    .user__user-image--gradient{
        display: inline-block;
        background: linear-gradient(to right,#742BAD, 
        #AF1BC7, #D71188, #0F0BE0);
        border-radius: 9999px;
        padding: 2px;
        
    }
    .user-image{
        display: block;
        width: 30px;        
    }
    .user-name__container{
        display: flex;
        padding: 0 1rem;
    }
    .user-name{
        font-weight: 700;
    }
    .user-tag{
        padding: 0 0.5rem;
    }
    /*USER end*/

    /*STAT start*/
    .main-section__stat-container{
        display: flex;
        justify-content: space-between;
        padding : 0.5rem 1rem;
    }
    .stat__likes{
        font-weight: 700;
    }
    .stat__date{
        color: #C5C5C5;
    }
    /*STAT end*/

    /*Description start*/
    .main-section__description{
        padding: 0.5rem 1rem;
    }
    /*Description end*/

    /*form start*/
    .main__input-comment{
        display: flex;
        align-items: center;
        padding: 1rem 0;
        margin: 0 1rem;
        border-top: 1px solid #D1D1D1;
        border-bottom: 1px solid #D1D1D1;
    }
    .input__icon{
        margin-right: 0.5rem;
        border: none;
        color:#D1D1D1;
    }
    .input__comment-area{
        border: none;
        color:#D1D1D1;
        width: 100%;
    }
    /*form end*/

    /*main-section End*/

    /*form start*/
    /*form end*/

    /*comment section start*/
    /*comment section end*/

/*Main End*/

/*footer start*/
/*footer end*/

/*media queries start*/
@media (min-width: 768px){
/*header start*/
/*header end*/

/*Main Start*/

    /*main-section Start*/
    /*main-section End*/

    /*form start*/
    /*form end*/

    /*comment section start*/
    /*comment section end*/

/*Main End*/

/*footer start*/
/*footer end*/

}

@media (min-width: 1200px){
/*header start*/
/*header end*/

/*Main Start*/

    /*main-section Start*/
    /*main-section End*/

    /*form start*/
    /*form end*/

    /*comment section start*/
    /*comment section end*/

/*Main End*/

/*footer start*/
/*footer end*/

}
/*media queries end*/